* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', 'Times New Roman', serif;
    line-height: 1.6;
    color: #000;
    background: #fff;
    min-height: 100vh;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
}

.header {
    background: #fff;
    color: #000;
    padding: 10px 20px;
    text-align: left;
}

.logo {
    height: 80px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-size: 1.8em;
    font-weight: normal;
    margin-bottom: 10px;
    letter-spacing: 0;
    display: inline-block;
    vertical-align: bottom;
}

.content {
    padding: 20px;
    background: #fff;
}

p {
    margin-bottom: 25px;
    font-size: 1.1em;
    line-height: 1.8;
    text-align: left;
    color: #000;
}

ul {
    margin: 15px 0;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    font-size: 1.05em;
    line-height: 1.6;
}

.footer {
    background: #fff;
    color: #000;
    padding: 5px 20px;
    text-align: left;
    font-size: 0.9em;
}

.footer p {
    color: #000;
    margin: 0;
}

@media (max-width: 768px) {
    .container {
        margin: 10px;
    }
    
    .header, .content {
        padding: 20px;
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    p {
        font-size: 1em;
        text-align: left;
    }
}
